In [25]:
import pandas as pd
import numpy as np

### Users

In [35]:
# Reading users data
users = pd.read_json("../data/users.json", lines=True)
users.fillna(np.nan, inplace=True)
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [36]:
# Processing users data
# Extract the id from the '_id' column
users["user_id"] = users["_id"].apply(
    lambda x: x["$oid"] if isinstance(x, dict) and "$oid" in x else np.nan
)
users["createdDate"] = users["createdDate"].apply(
    lambda x: x["$date"] if isinstance(x, dict) and "$date" in x else np.nan
)
users["lastLogin"] = users["lastLogin"].apply(
    lambda x: x["$date"] if isinstance(x, dict) and "$date" in x else np.nan
)

# dropping column _id
users = users[
    ["user_id", "role", "createdDate", "lastLogin", "active", "state", "signUpSource"]
]

# handling datetime values
users["createdDate"] = pd.to_datetime(users["createdDate"], unit="ms")
users["lastLogin"] = pd.to_datetime(users["lastLogin"], unit="ms")

users.head()

,user_id,role,createdDate,lastLogin,active,state,signUpSource
0,5ff1e194b6a9d73a3a9f1052,consumer,2021-01-03 15:24:04.800,2021-01-03 15:25:37.858,True,WI,Email
1,5ff1e194b6a9d73a3a9f1052,consumer,2021-01-03 15:24:04.800,2021-01-03 15:25:37.858,True,WI,Email
2,5ff1e194b6a9d73a3a9f1052,consumer,2021-01-03 15:24:04.800,2021-01-03 15:25:37.858,True,WI,Email
3,5ff1e1eacfcf6c399c274ae6,consumer,2021-01-03 15:25:30.554,2021-01-03 15:25:30.597,True,WI,Email
4,5ff1e194b6a9d73a3a9f1052,consumer,2021-01-03 15:24:04.800,2021-01-03 15:25:37.858,True,WI,Email

In [37]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       495 non-null    object
 1   role          495 non-null    object
 2   createdDate   495 non-null    datetime64[ns]
 3   lastLogin     433 non-null    datetime64[ns]
 4   active        495 non-null    bool
 5   state         439 non-null    object
 6   signUpSource  447 non-null    object
dtypes: bool(1), datetime64[ns](2), object(4)
memory usage: 23.8+ KB

### Receipts

In [52]:
# Reading receipts data
receipts = pd.read_json("../data/receipts.json", lines=True)
receipts.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [53]:
# Processing receipts data
# Extract the id from the '_id' column
receipts["receipt_id"] = receipts["_id"].apply(
    lambda x: x["$oid"] if isinstance(x, dict) and "$oid" in x else np.nan
)

# Convert date fields
date_fields = [
    "dateScanned",
    "purchaseDate",
    "modifyDate",
    "createDate",
    "pointsAwardedDate",
    "finishedDate",
]
receipts[date_fields] = receipts[date_fields].map(
    lambda x: x["$date"] if isinstance(x, dict) and "$date" in x else np.nan
)
receipts[date_fields] = receipts[date_fields].apply(pd.to_datetime, unit="ms")

receipts = receipts[
    [
        "receipt_id",
        "userId",
        "bonusPointsEarned",
        "bonusPointsEarnedReason",
        "createDate",
        "dateScanned",
        "finishedDate",
        "modifyDate",
        "pointsAwardedDate",
        "purchaseDate",
        "purchasedItemCount",
        "rewardsReceiptItemList",
        "rewardsReceiptStatus",
        "totalSpent",
    ]
]

# Handle any remaining NaN values
# receipts.fillna(np.nan, inplace=True)

receipts.head()

,receipt_id,userId,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent
0,5ff1e1eb0a720f0523000575,5ff1e1eacfcf6c399c274ae6,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,2021-01-03 00:00:00,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0
1,5ff1e1bb0a720f052300056b,5ff1e194b6a9d73a3a9f1052,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,2021-01-02 15:24:43,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0
2,5ff1e1f10a720f052300057a,5ff1e1f1cfcf6c399c274b0b,5.0,All-receipts receipt bonus,2021-01-03 15:25:37,2021-01-03 15:25:37,NaT,2021-01-03 15:25:42,NaT,2021-01-03 00:00:00,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0
3,5ff1e1ee0a7214ada100056f,5ff1e1eacfcf6c399c274ae6,5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,2021-01-03 00:00:00,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0
4,5ff1e1d20a7214ada1000561,5ff1e194b6a9d73a3a9f1052,5.0,All-receipts receipt bonus,2021-01-03 15:25:06,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,2021-01-02 15:25:06,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0

In [54]:
w_receipts = receipts

In [58]:
item_df = w_receipts[["receipt_id", "rewardsReceiptItemList"]].explode(
    "rewardsReceiptItemList"
)

# resetting index
item_df.reset_index(drop=True, inplace=True)

# normalizing
item_df = pd.concat(
    [item_df["receipt_id"], pd.json_normalize(item_df["rewardsReceiptItemList"])],
    axis=1,
)

item_df.head()

,receipt_id,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,...,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,5ff1e1eb0a720f0523000575,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5ff1e1bb0a720f052300056b,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5ff1e1bb0a720f052300056b,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5ff1e1f10a720f052300057a,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5ff1e1ee0a7214ada100056f,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
item_df.columns

Index(['receipt_id', 'barcode', 'description', 'finalPrice', 'itemPrice',
       'needsFetchReview', 'partnerItemId', 'preventTargetGapPoints',
       'quantityPurchased', 'userFlaggedBarcode', 'userFlaggedNewItem',
       'userFlaggedPrice', 'userFlaggedQuantity', 'needsFetchReviewReason',
       'pointsNotAwardedReason', 'pointsPayerId', 'rewardsGroup',
       'rewardsProductPartnerId', 'userFlaggedDescription',
       'originalMetaBriteBarcode', 'originalMetaBriteDescription', 'brandCode',
       'competitorRewardsGroup', 'discountedItemPrice',
       'originalReceiptItemText', 'itemNumber',
       'originalMetaBriteQuantityPurchased', 'pointsEarned', 'targetPrice',
       'competitiveProduct', 'originalFinalPrice',
       'originalMetaBriteItemPrice', 'deleted', 'priceAfterCoupon',
       'metabriteCampaignId'],
      dtype='object')

### Brands

In [7]:
brands = pd.read_json("../data/brands.json", lines=True)
brands.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [18]:
receipts.rewardsReceiptItemList[82]

[{'barcode': '041258081601',
  'description': "WYLER'S Instant Bouillon Powder - Chicken Flavor 2.00-oz",
  'finalPrice': '0.99',
  'itemPrice': '0.99',
  'partnerItemId': '1',
  'quantityPurchased': 1,
  'rewardsProductPartnerId': '559c2234e4b06aca36af13c6'}]

In [63]:
# Process brands table similar to users and receipts

# Convert _id to string
brands["brand_id"] = brands["_id"].apply(lambda x: x["$oid"])

# Convert cpg.$id to string
brands["cpg_id"] = brands["cpg"].apply(lambda x: x["$id"]["$oid"])

# Convert topBrand to boolean
brands["topBrand"] = brands["topBrand"].astype(bool)

brands = brands[
    [
        "brand_id",
        "cpg_id",
        "barcode",
        "category",
        "categoryCode",
        "name",
        "topBrand",
        "brandCode",
    ]
]

brands.head()

,brand_id,cpg_id,barcode,category,categoryCode,name,topBrand,brandCode
0,601ac115be37ce2ead437551,601ac114be37ce2ead437550,511111019862,Baking,BAKING,test brand @1612366101024,False,NaN
1,601c5460be37ce2ead43755f,5332f5fbe4b03c9a25efd0ba,511111519928,Beverages,BEVERAGES,Starbucks,False,STARBUCKS
2,601ac142be37ce2ead43755d,601ac142be37ce2ead437559,511111819905,Baking,BAKING,test brand @1612366146176,False,TEST BRANDCODE @1612366146176
3,601ac142be37ce2ead43755a,601ac142be37ce2ead437559,511111519874,Baking,BAKING,test brand @1612366146051,False,TEST BRANDCODE @1612366146051
4,601ac142be37ce2ead43755e,5332fa12e4b03c9a25efd1e7,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,False,TEST BRANDCODE @1612366146827

In [64]:
for col in brands.columns:
    print(col)

brand_id
cpg_id
barcode
category
categoryCode
name
topBrand
brandCode